.alert-box {text-align: center; border-radius: 0; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.298039); font-weight: 500; padding: 20px; width: 100% }
.alert-box-s {text-align: center; border-radius: 0; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.298039); margin:auto; float: none; font-weight: 600; padding: 20px; width: 100% }

.type-success {background-color: #7DCEA0 !important; color: #fff; }
.type-danger {background-color: #E74C3C !important; color: #fff; }
.type-primary {background-color: #85C1E9 !important; color: #fff; font-size: 150%;}
.close {float: right; padding-right: 15px; }

.info-box {color: #6C7181; font-family: "Quicksand"; text-align: center; padding:20px 20px 20px 20px; background: #E5E7E9; box-shadow: 0 5px 3px rgba(0,0,0,0.30), 0 5px 3px rgba(0,0,0,0.15); 
			-webkit-animation: fadein 1.5s;}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.info-box:hover {background: white}

.num {font-family: 'Droid Sans Mono'}
.num:hover {color:white}

.btn-green { background-color: #81C784; color: white; font-weight: bold; font-size: 100%; }
.btn-yellow { background-color: #FBC02D; color: white; font-weight: bold; font-size: 100%; }
.btn-red { background-color: #EF5350; color: white; font-weight: bold; font-size: 100%; }
.btn-static { cursor: default; }
.btn-static:active, .btn-static:focus  { color: white; outline: none }

.btn-alert {margin-top: 10px; padding: 10px 40px; color:white;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); border-radius:3px; font-weight: bold; background: rgba(246, 101, 101, 0.9);}
.btn-alert:hover {color: white; background: rgba(250, 97, 85, 1)}
.btn-alert a {text-decoration: none; color: white; }

.btn-more {padding: 10px 20px; color:white ;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); border-radius:3px; font-weight: bold; background: rgba(246, 101, 101, 0.9);}
.btn-more:hover {color:white; background: rgba(250, 97, 85, 1) }
.btn-more a {text-decoration: none; color: white; }

.btn-view {padding: 2px 20px; color:white ;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); border-radius:3px; font-weight: bold; background: rgba(246, 101, 101, 0.9);}
.btn-view:hover {color:white; background: rgba(250, 97, 85, 1) }
.btn-view a {text-decoration: none; color: white; }