.main-fluid {background-image: url(../images/abstract3.jpg); background-size: cover; min-height: 70vh;}
.review-container {margin-top: 20px; }

.panel {border:none; box-shadow:0 10px 10px 0 rgba(0,0,0,.25);}
.review {list-style-type: none; padding: 0; margin: 0;}
.comments {padding-top: 35px}
.title {font-size: 125%; font-family: "Quicksand" }

.border-right {border-right: 1px solid #CCD1D1 ;}

.noborder { border: 0px; padding:0;  margin:0; border-collapse: collapse; }