.contact-fluid {background-image: url(../images/abstract2.jpg); background-size: cover; min-height: 65vh; }

.contact-wrap {box-shadow:0 12px 15px 0 rgba(0,0,0,.24); margin: auto; margin-top: 30px; margin-bottom: 50px; }
.contact-form {padding:40px 40px 40px; background: #FDFEFE }
.contact-form .group{margin-top: 10px; margin-bottom:20px;}

.contact-form .label {font-size: 90%; text-align: left; width:100%; color:#f66565; display:block; outline: none; font-family: "Quicksand"; }
.contact-form .input {width:100%; color:#aaa; display:block; outline: none; font-size: 100%; font-family: "Palanquin"; }
.contact-form .input {border:0.5px solid #fccfcf; padding:10px 20px; border-radius:5px; background:#E5E7E9; color:black; }
.contact-form .input:focus {border:0.5px solid #FF5733; }
.contact-form .button{width:100%; color:#fff; display:block; outline: none; font-size: 100%; border:none; padding:10px 20px; font-size: 95%;
					  border-radius:7.5px; background: rgba(205, 97, 85, 0.9); font-family: "Quicksand"; box-shadow: 0 1px 4px rgba(0, 0, 0, .5); }
.contact-form .button:hover{background: rgba(250, 97, 85, 1); }

.contact-form .input-text {width:100%; color:#6C7181; display:block; outline: none; font-size: 100%; border:none; padding:50px 20px; border-radius:5px; background:rgba(255,255,255,.5); color:#fff;}
.contact-form p {color: #6C7181; font-size: 120%; font-family: "Palanquin"; }
.contact-form h3 {color: #6C7181; font-family: "Palanquin"; }

.contact-form .social-list ul{ list-style-type: none; }
.contact-form .social-list li { list-style: none; padding-bottom: 10px; font-size: 110%;  }
.contact-form .social-list li a { color: #6C7181; text-decoration: none; font-family: "Palanquin"; }
.fa-3x { vertical-align: middle;}