@media only screen and (max-width: 759px) {
	.desktop {display: none}
	.mobile {display: block}
	.navbar-right li button, .navbar-right li button:focus {font-weight: strong; padding-top: 10px; color:white; background: none; letter-spacing: 2px; outline: none; border-bottom: 2px solid rgba(0,0,0,0); }
	.navbar-right li button:active, .navbar-right li button:active { color: white; outline:none; background: rgba(0,0,0,0.2) }
	.pic-container .moreinfo {text-align: center; font-size: 100%; opacity: 1; color: white; transition: opacity .50s ease-in-out; position: absolute; font-weight: bold; top: 60%; left: 5%; width: 90%;}
}

@media only screen and (min-width: 760px) {
	.navbar-right li button, .navbar-right li button:focus {margin-top: 15px; color: white; background: none; border-radius: 3px;outline: none; letter-spacing: 2px; border: 2px solid white; }
	.navbar-right li button:hover, .navbar-right li button:active {color: rgba(0,0,0,0.7); background: white; outline: none; }
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover { background-color:transparent }
	.desktop {display: block}
	.mobile {display: none}
	.pic-container .moreinfo {text-align: center; font-size: 100%; opacity: 0; color: white; transition: opacity .50s ease-in-out; position: absolute; font-weight: bold; top: 60%; left: 5%; width: 90%;}
	.pic-container .overlay:hover .moreinfo  {text-align: center; opacity: 1; color: white;  font-size: 100%; position: absolute; font-weight: bold; top: 60%; left:5%; width: 90%;}
}

body {font-family: "Catamaran";}

.container-jumbo {background-color: #212121;}
.nav {background: transparent;}
.nav img {width: auto; max-height: 200%}

.navbar-left li button, .navbar-left li button:focus {padding-top: 10px; color:white; background: none; letter-spacing: 2px; outline: none; border-bottom: 2px solid rgba(0,0,0,0); } 
.navbar-left li button:hover { color:white; border-bottom: 2px solid white; border-radius: 0px; outline:none; } 
.navbar-left li button:focus:active, .navbar-left li button:active { color: white; outline:none; background: rgba(0,0,0,0.2) }

.navbar-nav > li > a { padding-top:5px !important;  padding-bottom:10px !important; height:60px;}

.header-container {padding-bottom: 20px; }
.header-container .main-header {color: white; margin-top: 20px;}
.main-header .title {font-weight: normal; font-size: 50%;}
.main-header .header {font-size: 200%; font-weight: bold;}

.main-fluid {background-image: url(../images/info.jpg); background-size: cover; padding-top: 25px; }
.content-container {padding-bottom: 5px;}

.big {text-align: center; font-weight: bold; text-transform: uppercase; font-size: 150%; color: white;}
.table {font-family: "Roboto" }
.table.no-border tr td, .table.no-border tr th { border-width: 0; }
.tableheader{background-color: #ea6153 !important; font-weight: bold; color: white; }
.table tr:nth-child(even) {background: #e9e9e9}
.table tr:nth-child(odd) {background: #FFF}

.pic-container {padding-bottom: 25px; }
.pic-container img {margin: auto; max-height: 100%; max-width: 100%; position: relative; -webkit-transition: all 1.0s;}
.pic-container .overlay { position: absolute; top: 0; left: 4%; width: 92.5%; height: 93.5%; overflow: hidden; -webkit-transition: all 0.5s;}
.pic-container .overlay:hover  {background: rgba(0,0,0,0.4);}=
.big {font-weight: bold; font-size: 200%}
.row > hr {margin-top: 50px; width: 50%; padding-bottom: 15px;}
.pull-right {color: white; font-size: 110%; font-weight: bold}

.footer-container {background-color: #212121; color: white;}
.footer-container a {color:#dcdcdc; font-weight: bold;}	
.footer-container img {height: 30%; width: 30%; }

.footer-container .footer-col {margin-top: 15px; margin-bottom: 20px; }
.footer-container .footer-col ul { margin: 0; padding: 0; }
.footer-container .footer-col .social-icons ul{ display: inline; list-style-type: none; }
.footer-container .footer-col .social-icons li { list-style: none;  float: left; margin-right: 20px; }

.footer-container .sub-footer {color: white; background: #000000; padding: 10px; }
