body {background-image: url(../images/bg.jpg); background-repeat: repeat; font-family: "Catamaran";}

.container-jumbo {background-image: url(../images/jumbo.jpg); background-position: center; margin-bottom: 20px; overflow: visible;}

.nav {background: transparent; overflow: visible;}
.nav img {padding-top: 10px; width: auto; max-height: 100%}

.navbar-left li button, .navbar-left li button:focus {padding-top: 10px; color:white; background: none; letter-spacing: 2px; outline: none; border-bottom: 2px solid rgba(0,0,0,0); } 
.navbar-left li button:hover { color:white; border-bottom: 2px solid white; border-radius: 0px; outline:none; } 
.navbar-left li button:focus:active, .navbar-left li button:active { color: white; outline:none; background: rgba(0,0,0,0.2) }

.navbar-right li button, .navbar-right li button:focus {color: white; background: none; border-radius: 3px;outline: none; letter-spacing: 2px; border: 2px solid white; }
.navbar-right li button:hover, .navbar-right li button:active {color: rgba(0,0,0,0.7); background: white; outline: none; }
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover { background-color:transparent }

.navbar-nav > li > a { padding-top:5px !important;  padding-bottom:10px !important; height:60px;}

.header-container {padding-bottom: 25px; }
.header-container .main-header {color: white;}

.panel {box-shadow:0 10px 10px 0 rgba(0,0,0,.25);}
.info-container img {height: 50%; width: 50% }
.borderless tr {border:none}
.border-right {border-right: 1px solid #CCD1D1 ;}
.btn {color: white; font-weight: bold; border:none; background: #5499C7;}

.panel-body ul {list-style-type: none; margin: 0; padding: 0;}
.panel-body {text-align: left; margin: 5px;}
.footer-container {background-color: #212121; color: white;}
.footer-container a {color:#dcdcdc; font-weight: bold;}	
.footer-container img {height: 30%; width: 30%; }

.footer-container .footer-col {margin-top: 15px; margin-bottom: 20px; }
.footer-container .footer-col ul { margin: 0; padding: 0; }
.footer-container .footer-col .social-icons ul{ display: inline; list-style-type: none; }
.footer-container .footer-col .social-icons li { list-style: none;  float: left; margin-right: 20px; }

.footer-container .sub-footer {color: white; background: #000000; padding: 10px; }
