.login-wrap {width: 100%; margin-left:0; margin-right:0; background:url(../images/jumbo1.jpg) no-repeat center; box-shadow:0 12px 15px 0 rgba(0,0,0,.24); color: white;}
.login-wrap h3 {font-family: "Quicksand";}
.login-wrap a {color: #808080;text-decoration:none; font-weight: bold}
.login-wrap a:hover{text-decoration:none}
.login-container {padding:40px 70px 70px 70px; background:rgba(59,55,55,.8); }
.login-container hr {height: 1px; border-top: 2px solid white }

.login-form .group {margin-top: 10px; margin-bottom:20px; }
.login-form .label {width:100%; color:#5499C7; display:block; outline: none; font-size: 85%; text-align: left; font-family: "Quicksand"; text-transform: uppercase; }
.login-form .input {width:100%; color:white; display:block; outline: none; font-size: 85%; text-align: left; font-family: "Quicksand"; 
			border:0.5px solid #b2d1e6; padding:10px 20px; border-radius:5px; background:rgba(255,255,255,.5);}
.login-form .input:focus {border:0.5px solid #78afd3 }
.login-form .group .button {width:100%; font-family: "Quicksand"; color:#fff;  font-weight:bold; font-size: 95%; background: #5499C7; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); border-radius:7px;
						border:none; padding:10px 20px; display:block; outline: none; margin-top: 40px;}
.login-form .group .button:hover{background: #85C1E9; }

.login-form .forgot{ padding-top: 10px; text-align:center; }
.login-form .sign-up { font-weight: bold; color: #808080; text-align: center; padding-top: 10px; }
.login-form .sign-up input { width:100%; font-family: "Quicksand"; color:#fff;  font-weight:bold; font-size: 95%; background: rgba(246, 101, 101, 0.9); box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); border-radius:7px;
						border:none; padding:10px 20px; display:block; outline: none; }
.login-form .sign-up input:hover{ background: rgba(250, 97, 85, 1); }