.profile-fluid {background: #eaeaea}

.profile-container h3 {font-weight: bold; text-align: center;  color: black;}
.profile-container h4 {text-align: center;  color: white;}
.info-container {background: #fff; box-shadow:0 12px 15px 0 rgba(0,0,0,.30); margin: auto;}

.profile-wrap {box-shadow:1px 6px 10px 0 rgba(0,0,0,.3); margin: auto; margin-top: 40px; margin-bottom: 40px; }
.profile-form {padding:40px 40px 35px 40px; background: rgba(255,255,255,.8); }
.profile-form .photo {border: 6px solid #eee; border-radius: 250px; }
.profile-form .group{margin-top: 10px; margin-bottom:20px;}

.profile-form .photolabel {text-transform: uppercase; color: #80bfff; }
.profile-form .label {width:100%; color:#ff9999; display:block; outline: none; font-size: 85%; text-align: left; font-family: "Quicksand"; }
.profile-form .info {font-size: 100%; color: #595959; font-family: "Palanquin"; text-align: left; padding: 5px 0 20px 7.5px;}
.profile-form .input {width:100%; color:#d9d9d9; display:block; outline: none; font-size: 95%; font-family: "Quicksand"; }
.profile-form .input {border:0.5px solid #cce6ff; padding:10px 15px; border-radius:5px; background:rgba(64,64,64,.5); color:#fff; }
.profile-form .button{width:100%; color:#fff; display:block; outline: none; font-size: 100%; border:none; padding:10px 20px; border-radius:7px; }
.profile-form .group select {font-family: "Quicksand"; border-radius:5px;}

.profile-form .button{font-family: "Quicksand"; font-weight:bold; font-size: 95%; background: rgba(246, 101, 101, 0.9); box-shadow: 0 1px 4px rgba(0, 0, 0, .5); }
.profile-form .button:hover{background: rgba(255, 102, 102, 1); }

.profile-form .radio {cursor: pointer; }
.profile-form .radio input { visibility: hidden; }
.profile-form .radio .choice { font-family: "Quicksand"; font-size: 90%; width:100%; padding: 10px; border: 0.6px solid #d9d9d9; display: inline-block; color: #f2f2f2; border-radius: 5px; }
.profile-form .radio input:checked + .choice { border-color: #64B5F6; background-color: rgba(101, 173, 246, 0.85); }
