@media only screen and (max-width: 759px) {
	.desktop {display: none}
	.mobile {display: block}
	.navbar-right li button, .navbar-right li button:focus {font-weight: strong; padding-top: 10px; color:white; background: none; letter-spacing: 2px; outline: none; border-bottom: 2px solid rgba(0,0,0,0); }
	.navbar-right li button:active, .navbar-right li button:active { color: white; outline:none; background: rgba(0,0,0,0.2) }
	.info-container .pic-container .moreinfo {font-size: 100%; opacity: 1; color: white; transition: opacity .50s ease-in-out; position: absolute; font-weight: bold; top: 60%; left: 5%; width: 90%;}
}

@media only screen and (min-width: 760px) {
	.navbar-right li button, .navbar-right li button:focus {margin-top: 15px; color: white; background: none; border-radius: 3px;outline: none; letter-spacing: 2px; border: 2px solid white; }
	.navbar-right li button:hover, .navbar-right li button:active {color: rgba(0,0,0,0.7); background: white; outline: none; }
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover { background-color:transparent }
	.desktop {display: block}
	.mobile {display: none}
	.info-container .pic-container .moreinfo {font-size: 100%; opacity: 0; color: white; transition: opacity .50s ease-in-out; position: absolute; font-weight: bold; top: 60%; left: 5%; width: 90%;}
	.info-container .pic-container .overlay:hover .moreinfo  {opacity: 1; color: white;  font-size: 100%; position: absolute; font-weight: bold; top: 60%; left: 5%; width: 90%;}
}

body {font-family: "Catamaran";}

.container-jumbo {background-image: url(../images/jumbo.jpg); background-position: center; background-size: cover;}
.nav {background: transparent;}
.nav img {width: auto; max-height: 200%}

.navbar-left li button, .navbar-left li button:focus {padding-top: 10px; color:white; background: none; letter-spacing: 2px; outline: none; border-bottom: 2px solid rgba(0,0,0,0); } 
.navbar-left li button:hover { color:white; border-bottom: 2px solid white; border-radius: 0px; outline:none; } 
.navbar-left li button:focus:active, .navbar-left li button:active { color: white; outline:none; background: rgba(0,0,0,0.2) }

.navbar-nav > li > a { padding-top:5px !important;  padding-bottom:10px !important; height:60px;}

.header-container {padding-bottom: 25px; }
.header-container .main-header {color: white; margin-top: 20px;}
.main-header .title {font-size: 120%; }
.main-header .header {font-size: 200%; font-weight: bold;}

.main-container {background-image: url(../images/darkrecord.jpg);}

.record-container {padding-top: 40px;}
.record-container h3 {font-weight: bold; text-align: center;  color: white;}
.record-container h4 {text-align: center;  color: white;}

.record-wrap {box-shadow:1px 6px 10px 0 rgba(0,0,0,.3); margin: auto; margin-top: 20px; margin-bottom: 50px; }
.record-form {padding:40px 40px 50px 40px; background: rgba(77,77,77,.9); }
.record-form .group{margin-top: 10px; margin-bottom:20px;}

.record-form .label {width:100%; color:#9fbfdf; display:block; outline: none; font-size: 85%; text-align: left; font-family: "Quicksand"; }
.record-form .label-center {width:100%; color:#9fbfdf; display:block; outline: none; font-size: 85%; text-align: center; font-family: "Quicksand"; }
.record-form .input {width:100%; color:#d9d9d9; display:block; outline: none; font-size: 100%; font-family: "Roboto"; }
.record-form .input {border:0.5px solid #666; padding:10px 20px; border-radius:5px; background:rgba(64,64,64,.5); color:#fff; }
.record-form .button{width:100%; color:#fff; display:block; outline: none; font-size: 100%; border:none; padding:10px 20px; border-radius:7px; box-shadow: 0 1px 4px rgba(0, 0, 0, .5); }
.record-form .date {font-family: "Roboto"}
.record-form .group select {font-family: "Roboto"; border-radius:5px;}

.record-form .timeperiod input { position: absolute; visibility: hidden; display: none; }
.record-form .timeperiod label { color: white; display: inline-block; cursor: pointer; padding: 10px 10px; font-family: "Quicksand"; border-radius:5px;}
.record-form .timeperiod input:checked + label { color: white; border: 0.6px solid #6eb3f7; background-color: rgba(101, 173, 246, 0.85); }

.record-form p {color:#aaa; font-size: 80%; padding-top: 20px;}
.record-form h3 {color: #eee;}

.record-form .button{font-family: "Quicksand"; font-weight:bold; font-size: 95%; background: rgba(246, 101, 101, 0.9); }
.record-form .button:hover{background: rgba(255, 102, 102, 1); }

.record-form .radio {cursor: pointer; }
.record-form .radio input { visibility: hidden; }
.record-form .radio .choice { font-family: "Quicksand"; font-size: 90%; width:100%; padding: 10px; border: 0.6px solid #d9d9d9; display: inline-block; color: #f2f2f2; border-radius: 5px; }
.record-form .radio input:checked + .choice { border-color: #64B5F6; background-color: rgba(101, 173, 246, 0.85); }

.personalsession {display: none}
.groupsession {display:none}

.footer-container {background-color: #212121; color: white;}
.footer-container a {color:#dcdcdc; font-weight: bold;}	
.footer-container img {height: 30%; width: 30%; }
.footer-container .footer-col {margin-top: 15px; margin-bottom: 20px; }
.footer-container .footer-col ul { margin: 0; padding: 0; }
.footer-container .footer-col .social-icons ul { display: inline; list-style-type: none; }
.footer-container .footer-col .social-icons li { list-style: none;  float: left; margin-right: 20px; }

.footer-container .sub-footer {color: white; background: #000000; padding: 10px; }