body {background-image: url(../images/bg.jpg); background-repeat: repeat; font-family: "Catamaran";}

.container-jumbo {background-image: url(../images/jumbo.jpg); background-position: center; background-position: cover; margin-bottom: 0px;}
	
.nav {background: transparent;}
.nav img {padding-top: 10px; width: auto; max-height: 100%}

.navbar-left li button, .navbar-left li button:focus {padding-top: 10px; color:white; background: none; letter-spacing: 2px; outline: none; border-bottom: 2px solid rgba(0,0,0,0); } 
.navbar-left li button:hover { color:white; border-bottom: 2px solid white; border-radius: 0px; outline:none; } 
.navbar-left li button:focus:active, .navbar-left li button:active { color: white; outline:none; background: rgba(0,0,0,0.2) }

.navbar-right li button, .navbar-right li button:focus {color: white; background: none; border-radius: 3px;outline: none; letter-spacing: 2px; border: 2px solid white; }
.navbar-right li button:hover, .navbar-right li button:active {color: rgba(0,0,0,0.7); background: white; outline: none; }
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover { background-color:transparent }

.navbar-nav > li > a { padding-top:5px !important;  padding-bottom:10px !important; height:60px;}

.container-header { padding-top: 20px; padding-bottom: 20px; color: white; background: transparent; }
.container-header hr { margin-top: 20px; width: 35%; padding-bottom: 50px; float: left;}

.main-container {background-image: url(../images/exercise.jpg);}

.record-container {padding-top: 40px;}
.record-container h3 {font-weight: bold; text-align: center;  color: white;}
.record-container h4 {text-align: center;  color: white;}

.record-wrap {box-shadow:1px 6px 10px 0 rgba(0,0,0,.3); margin: auto; margin-top: 20px; margin-bottom: 50px; }
.record-form {padding:40px 40px 50px 40px; background: rgba(77,77,77,.8); }
.record-form .group{margin-top: 10px; margin-bottom:20px;}

.record-form .label, .record-form .input {width:100%; color:#d9d9d9; display:block; outline: none; font-size: 100%; }
.record-form .input {border:none; padding:10px 20px; border-radius:5px; background:rgba(55,55,55,.5); color:#fff; }
.record-form .button{width:100%; color:#fff; display:block; outline: none; font-size: 100%; border:none; padding:10px 20px; border-radius:25px; }
.record-form p {color:#aaa; font-size: 80%; padding-top: 20px;}
.record-form h3 {color: #eee;}
.personalsession {display: none}
.groupsession {display:none}

.record-form .button{background: rgba(205, 97, 85, 1);}
.record-form .button:hover{background: rgba(250, 97, 85, 1); }

.record-form .radio {cursor: pointer; }
.record-form .radio input { visibility: hidden; }
.record-form .radio .choice { width:100%; padding: 10px; border: 2px solid #EEE; display: inline-block; color: #fff; border-radius: 5px; }

.record-form .radio input:checked + .choice { border-color: #64B5F6; background-color: rgba(100, 181, 246, 0.9); }

.footer-container {background-color: #212121; color: white;}
.footer-container a {color:#dcdcdc; font-weight: bold;}	
.footer-container img {height: 30%; width: 30%; }
.footer-container .footer-col {margin-top: 15px; margin-bottom: 20px; }
.footer-container .footer-col ul { margin: 0; padding: 0; }
.footer-container .footer-col .social-icons ul { display: inline; list-style-type: none; }
.footer-container .footer-col .social-icons li { list-style: none;  float: left; margin-right: 20px; }

.footer-container .sub-footer {color: white; background: #000000; padding: 10px; }