.main-container {background-image: url(../images/abstract2.jpg); background-size: cover;}

.signup-container {padding-top: 40px; }
.signup-container h3 {font-weight: bold; text-align: center;  color: white;}
.signup-container h4 {text-align: center;  color: white;}

.signup-wrap {margin: auto; margin-top: 20px; margin-bottom: 50px; box-shadow: 0 1px 4px rgba(0, 0, 0, .5);}
.signup-form {padding:40px 40px 40px 40px; background: #FDFEFE; }

.signup-form .group{margin-top: 10px; margin-bottom:20px;}
.signup-form .label, .signup-form .input {width:100%; color:#f66565; display:block; outline: none; font-size: 85%; text-align: left; font-family: "Quicksand"; }
.signup-form .input {border:0.5px solid #fccfcf; padding:10px 20px; border-radius:5px; background: #E5E7E9; color: black }
.signup-form .input:focus {border:0.5px solid #FF5733; }
.signup-form p {color:#aaa; font-size: 80%; padding-top: 20px;}
.member {display: none}
.trainer {display:none}

.signup-form .button{width:100%; font-family: "Quicksand"; color:#fff;  font-weight:bold; font-size: 95%; background: rgba(246, 101, 101, 0.9); box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); border-radius:7px;
						border:none; padding:10px 20px; display:block; outline: none;}
.signup-form .button:hover{background: rgba(250, 97, 85, 1); }

.signup-form .radio {cursor: pointer; }
.signup-form .radio input { visibility: hidden; }
.signup-form .radio .choice { font-family: "Quicksand"; font-size: 90%; width:100%; padding: 10px; border: 0.6px solid #d9d9d9; display: inline-block; color: #aaa; border-radius: 5px; }
.signup-form .radio input:checked + .choice { border-color: #64B5F6; background-color: rgba(101, 173, 246, 0.85); color: white; }

